%h1 Listing lookups
%table
  %thead
    %tr
      %th Code
      %th Name
      %th ID
      %th Type
      %th Comment
      %th{:colspan => "3"}
  %tbody
    - @lookups.each do |lookup|
      %tr
        %td= lookup.code
        %td= lookup.name
        %td= lookup.id
        %td= lookup.type
        %td= lookup.comment
