.navbar.navbar-default
  .container-fluid
    .navbar-header{style: 'position: relative'}
      = link_to root_url, class: 'navbar-brand' do
        = image_tag 'icewatch_logo.png', class: 'logo'
    .navbar-header{style: 'position: relative'}
      = link_to 'https://www.met.no/en', class: 'navbar-brand' do
        = image_tag 'Met_RGB_Horisontal_Engelsk.png', class: 'logo2'

    %ul.nav.navbar-nav.navbar-right
      - if current_user.has_role?('admin')
        %li= link_to 'Manage Users', users_path, class: 'navbar-link'
      %li= link_to "About", page_path('about'), class: 'navbar-link'
      %li.dropdown= render 'layouts/login'
